/* Paleta de colores del sitio web */

body {
    color: #0b090a;
    color: #161a1d;
    color: #660708;
    color: #a4161a;
    color: #ba181b;
    color: #e5383b;
    color: #b1a7a6;
    color: #d3d3d3;
    color: #f5f3f4;
}
